@font-face {
    font-family: 'Rubik';
    font-weight: 500;
    src: url('../css/fonts/Rubik-Medium.woff') format('woff'),
         url('../css/fonts/Rubik-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'Rubik';
    font-weight: 800;
    src: url('../css/fonts/Rubik-Bold.woff') format('woff'),
         url('../css/fonts/Rubik-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Lato';
    font-weight: 400;
    src: url('../css/fonts/Lato-Regular.woff') format('woff'),
         url('../css/fonts/Lato-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Lato';
    font-weight: 500;
    src: url('../css/fonts/Lato-Medium.woff') format('woff'),
         url('../css/fonts/Lato-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'Lato';
    font-weight: 700;
    src: url('../css/fonts/Lato-Semibold.woff') format('woff'),
         url('../css/fonts/Lato-Semibold.woff2') format('woff2');
}
@font-face {
    font-family: 'Lato';
    font-weight: 900;
    src: url('../css/fonts/Lato-Bold.woff') format('woff'),
         url('../css/fonts/Lato-Bold.woff2') format('woff2');
}

